.color1{
  background-color: rgb(255, 140, 129);
}
.color2{
	background-color: rgb(75, 77, 201);
}
.color3{
	background-color: rgb(255, 194, 197);
}
.color4{
	background-color: rgb(14, 14, 44);
}
.color5{
	background-color: rgb(38, 38, 51);
}

.color1,
.color2,
.color3,
.color4,
.color5 {
  width: 100%;
  height: 175px;
}